.container{
    text-align:center;
    display:inline-block;
    width:13rem;
    padding:20px 15px 15px;
    border-radius:5px;
    background-color:#fff;
    box-sizing: border-box;
    margin:5px;
}
.title{
    font-size:1rem;
    font-weight: bold;
    margin:10px 0;
}
.subTitle{
    width:100%;
    color:gray;
    margin:5px 0;
    white-space:normal;
    font-size: 0.8rem;
    margin:10px 0 20px;
    height:40px;
}
.btnOrange{
    border:none;
    border-radius: 5px;
    background:#ed7733;
    color:white;
    font-weight:bold;
}
.btnGray{
    border:none;
    border-radius: 5px;
    background:#efefef;
    color:black;
    font-weight:bold;
}